.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}


.right-bar{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 0;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #F16C31;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.text-field{
    -fx-background-color: white;
    -fx-border-color: #828282;
    -fx-border-radius: 30;
    -fx-background-radius: 30;

}

.button{
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-color: black;
    -fx-border-radius: 30;
}

.button:pressed {
    -fx-background-color: #828282;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}